body {
    background-color: lightblue;
}
#container {
    background-color: aquamarine;
    margin: 80px auto;
    width: 1400px;
}
#gridcontainer {
    display: block;
    grid-template-columns: 450px 450px 450px;
    padding: 10px;
    grid-gap: 15px 2px;
    justify-items: center;
    align-items: center;
}
.cards {
    border: 3px dotted darkslategray;
    width: 570px;
    height: 100px;
    padding: 20px;
    background-color: aqua;
    box-shadow: 0px 8px 0px lightblue;
    white-space: pre;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.newbook {
    width: 400px;
    height: 178px;
    font-size: 17px;
    margin: 0 auto;
    border: 3px dotted darkslategray;
    box-shadow: 0px 8px 0px lightblue;
    padding: 20px;
    display: block;
    background-color: lightblue;
    text-align: center;
}
#newBookButton {
    padding: 8px;
    background-color: blueviolet;
    outline: none;
    border: 1px solid darkgray;
    cursor: pointer;
    margin: 0 auto;
    width: 400px;
    
}
#addFormDiv {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 3px solid transparent;
    box-shadow: 0px 8px 0px transparent;
}

.textInput {
    width: 330px;
}
#author {
    margin-left: 0px;
    margin-top: 10px;
}
#pages {
    margin-left: 10px;
    margin-top: 10px;
}
#title, #read {
    margin-left: 13px;
    margin-top: 10px;
}
.readbutton {
    position: relative;
    background-color: lightblue;
    padding: 5px;
    border: 1px dotted darkgray;
    box-shadow: 0px 2px 0px lightgray;
    cursor: pointer;
    transition: .5s;
    margin-top: 15px;
}
.readbutton:hover, 
.deletebutton:hover {
    box-shadow: none;
    top: 2px;
    background-color: darkslategrey;
    transition: .5s;
}
.readbutton:active, 
.deletebutton:active {
    box-shadow: none;
    top: 2px;
    background-color: darkslategrey;
}
.deletebutton {
    position: relative;
    background-color: red;
    padding: 5px;
    border: 1px dotted darkgray;
    box-shadow: 0px 2px 0px red;
    cursor: pointer;
    margin-left: 15px;
}
.addForm {
    padding: 20px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    color: darkgray;
    transition: .3s;
    display: block; 
    margin: 0 auto 10px;

}

.addForm:hover{
    color: black;
    border: 2px solid darkgray;
}

.addForm:active{
    border: 2px solid black;
    color: black;
}






